<div class="container">
  <h1>
    Test Store
  </h1>

  <div class="row">
    <div ng-repeat="product in products.results">
      <div class="col-md-4">
        <product-list-item product="product"></product-list-item>
      </div>
    </div>
  </div>
  <div class="quick-view">
    <div class="overlay">  </div>
      <div ng-controller="productListItemCtrl as ctrl" class="quick-view-container col-md-6 col-sm-10">
        <img src="{{productDetail.image}}" alt="" />
        <h2>{{productDetail.name}}</h2>
        <p>{{productDetail.description}}</p>
        <p>£{{productDetail.price}}</p>
      </div>
  </div>
</div>
